* {
	margin: 0;
	padding: 0;
	max-width: 100%;
}

body {
	background-color: #7d7d7d;
}

header {
	max-width: 1000px;
	width: calc(100% - 20px);
	margin: auto;
	margin-top: 30px;
	padding: 0 10px;
}

header img {
	width: 100%;
}

#main-part {
	max-width: 1000px;
	margin: auto;
}

div.gallery {
	width: 100%;
	margin: 20px auto;
}

a.gal-image-box {
	margin: 20px 0;
	display: block;
}